<div class="dashboard-container">
  <a href="/account" class="player-statistics-container container">
    <h1 class="username"><%= @user.username %></h1>
    <div class="statistics">
      <%= "Level #{@statistics.level}"  %><br>
      <%= "#{@statistics.xp} Total XP"  %><br>
    </div>
  </a>

  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= @user.leveling_progress %>%" aria-valuenow="<%= @user.leveling_progress %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="xp-needed">
    <%= @user.xp_toward_next_level %>/<%= @user.xp_needed_for_next_level %>
  </div>

  <div class="log-entries-container">
    <div class="log-entry-form-container container">
      <%= form_with(model: LogEntry.new, url: log_entries_path, method: :post) do |form| %>
    
        <div>
          <%= form.text_field :title, placeholder: "Title" %>
          <div class="hand-icon"><%= image_tag("icons/cursor.ico") %></div>
        </div>
    
        <div>
          <%= form.text_field :project, placeholder: "Project" %>
          <div class="hand-icon"><%= image_tag("icons/cursor.ico") %></div>
        </div>
    
        <div>
          <%= form.number_field :time, step: 1, in: 1..8, placeholder: "Time (hours)" %>
          <div class="hand-icon"><%= image_tag("icons/cursor.ico") %></div>
        </div>
    
        <div>
          <%= form.text_field :language, size: "20x1", placeholder: "Language" %>
          <div class="hand-icon"><%= image_tag("icons/cursor.ico") %></div>
        </div>
    
        <div>
          <%= form.text_field :framework, size: "20x1", placeholder: "Framework (optional)" %>
          <div class="hand-icon"><%= image_tag("icons/cursor.ico") %></div>
        </div>
    
        <div>
          <%= form.number_field :lines, step: 1, placeholder: "Lines of code (optional)" %>
          <div class="hand-icon"><%= image_tag("icons/cursor.ico") %></div>
        </div>
    
        <div>
          <%= form.number_field :characters, step: 1, placeholder: "Characters (optional)" %>
          <div class="hand-icon"><%= image_tag("icons/cursor.ico") %></div>
        </div>
    
        <div>
          <%= form.number_field :contributions, placeholder: "Contributions (optional)" %>
          <div class="hand-icon"><%= image_tag("icons/cursor.ico") %></div>
        </div>
    
    
        <%= form.submit 'Create Log Entry' %>
      <% end %>
  </div>
  <div class="user-logs-container container">
  <h2>Log Entries</h2>
  <% if @user.log_entries.any? %>
    <ul class="log-entries-list">
      <% @user.log_entries.each do |log_entry| %>
        <li class="log-entry-item">
          <div class="log-entry-details">
            <strong><%= log_entry.title %></strong><br>
            <strong><%= log_entry.project %></strong><br>
            Session length: <%= log_entry.time %> hours.<br>
            Language: <%= log_entry.language %><br>

            <% if log_entry.framework.present? %>
              Framework: <%= log_entry.framework %><br>
            <% end %>

            <% if log_entry.lines.present? %>
              Lines coded: <%= log_entry.lines %><br>
            <% end %>

            <% if log_entry.characters.present? %>
              Characters: <%= log_entry.characters %><br>
            <% end %>

            <% if log_entry.contributions.present? %>
              Contributions (commits): <%= log_entry.contributions %><br>
            <% end %>

            
          </div>

          <div class="log-entry-actions">
            <%= log_entry.date %>
            <%= button_to 'Delete', log_entries_path(log_entry), method: :delete, data: { confirm: 'Are you sure?'} %>
            
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No log entries yet.</p>
  <% end %>
</div>
  </div>
</div>