<div class="account-container">
    <div class="account-actions-container container">
        <%= link_to "Edit Password", edit_password_path, class: "button" %>
        <%= link_to "Delete Account", session_path, class: "button" %>
    </div>

    <div class="player-statistics-container container">
        <h1 class="username"><%= @user.username %></h1>
        <div class="statistics">
          <%= "Level #{@statistics.level}"  %><br>
          <%= "#{@statistics.xp} Total XP"  %><br>
          <%= "#{@user.xp_needed_for_next_level - @user.xp_toward_next_level} Needed for Next Level"%>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= @user.leveling_progress %>%" aria-valuenow="<%= @user.leveling_progress %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="xp-needed">
            <%= @user.xp_toward_next_level %>/<%= @user.xp_needed_for_next_level %>
          </div>
          <br>
          <br>
          <%= "#{@statistics.time_active} hours active"  %><br>
          <%= "#{@user.daily_streak} days logged in a row" %><br>
          <% if @user.log_entries.any? %>
            <%= "Most Logged Language: #{@user.most_used_language}" %>
          <% else %>
          <% end %>
          
        </div>
      </div>
    
    
</div>

